language: node_js
sudo: required

env:
  global:
    - CONSUL_VERSION=1.9.0
    - CONSUL_DIR=$HOME/consul_$CONSUL_VERSION
    - CONSUL_SERVER=127.0.0.1:8500
before_script:
  - 'if [[ ! -f $CONSUL_DIR/consul ]]; then (mkdir -p $CONSUL_DIR && cd $CONSUL_DIR && wget https://releases.hashicorp.com/consul/${CONSUL_VERSION}/consul_${CONSUL_VERSION}_linux_amd64.zip && unzip consul_${CONSUL_VERSION}_linux_amd64.zip); fi'
  - $CONSUL_DIR/consul --version
  - $CONSUL_DIR/consul agent -server -bootstrap-expect 1 -data-dir /tmp/consul &
  # Wait for consul to elect itself as leader
  - sleep 5
after_script: npm run coverage

node_js:
  - 'lts/*'
  - '12'
  - '10'

cache:
  directories:
    - "node_modules"
    - $CONSUL_DIR