language: node_js
sudo: required

script: sudo $(type -P npm) test

after_script: npm run coverage

node_js:
  - '10'
  - '9'
  - '8'
  - '7'
  - '6'
  - '5'
  - '4'
  - '0.10'
  - '0.11'
  - '0.12'

cache:
  directories:
    - "node_modules"